<h1>Top#top</h1>
<p>Find me in app/views/top/top.html.erb</p>
<%= link_to "サインイン", "/users/sign_in" %>
<%= link_to "サインアップ", "/users/sign_up" %>
<%= link_to "編集", "/users/edit" %>
<%= link_to "ログアウト", "/users/sign_out", method: "delete" %>
